/*
CREATE DATABASE Oftamolog_v0_5

USE master	DROP DATABASE Oftamolog_v0_5
*/

/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
-- ***********************************************
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓LEGENDA▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
--/ - Blok naredbi od tekuće tabele
--▓ - Kreiranje i postavljanje FK
--  - Svako naredno postavljanje FK
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
USE Oftamolog_v0_5
/*
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓CREATE▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ////////////////KatArt//////////////////////////// */
CREATE TABLE Tip_Korisnika(
ID INT IDENTITY(1,1),
Naziv nvarchar(30) NOT NULL,
CONSTRAINT PK_Tip_KorisnikaID PRIMARY KEY (ID))		--/ PK: Tip_KorisnikaID		--/ CREATE: Tip_Korisnika
/* ////////////////Grad//////////////////////////// */
CREATE TABLE Grad(
ID INT IDENTITY(1,1),
Naziv nvarchar(50),
PTT varchar(10),
CONSTRAINT PK_GradID PRIMARY KEY (ID))			--/ PK: GradID			--/ CREATE: Grad
/* //////////////////Korisnik////////////////////////// */
CREATE TABLE Korisnik(
ID INT IDENTITY(1,1),
korisnickoIme varchar(30) UNIQUE NOT NULL,
Sifra varchar(30) MASKED WITH (FUNCTION = 'default()') NOT NULL,
Ime nvarchar(30) NOT NULL,
Prezime nvarchar(30) NOT NULL,
Adresa nvarchar(50) NOT NULL,
GradID INT NOT NULL,
Tel varchar(50) NOT NULL,
Email varchar(50) NOT NULL,
MB varchar(20) NOT NULL,
Tip_KorisnikaID INT NOT NULL,
CONSTRAINT PK_MedicinariID PRIMARY KEY (ID),			
FOREIGN KEY (GradID) REFERENCES Grad(ID),			
FOREIGN KEY (Tip_KorisnikaID) REFERENCES Tip_Korisnika(ID))	--/ PK: KorisnikID		-- FK: GradID	-- FK: Tip_KorisnikaID		--/ CREATE: Korisnik
/* ////////////////Pregled//////////////////////////// */
CREATE TABLE Pregled(
ID INT IDENTITY(1,1),
LekarID INT NOT NULL,
PacijentID INT NOT NULL,
Datum date NOT NULL,
Nalaz nvarchar(250) NOT NULL,
CONSTRAINT PK_PregledID PRIMARY KEY (ID),
FOREIGN KEY (LekarID) REFERENCES Korisnik(ID),			
FOREIGN KEY (PacijentID) REFERENCES Korisnik(ID))	--/ PK: PregledID	-- FK: LekarID	-- FK: PacijentID		--/ CREATE: Pregled
/*
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓INSERT▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
************************************************** */
/*▓//////////////// Tip_Korisnika(ID,Naziv) //////////////////////// */
INSERT INTO Tip_Korisnika VALUES ('Administrator'),('Doktor'),('Medicinsko osoblje'),('Pacijent');			-- Tip_Korisnika
/*▓//////////////// Grad(ID,Naziv,PTT) ////////////////////// */
/*▓//////////////// Medicinar(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID) ////////////////////// */
/*▓///////// Pregled(ID,LekarID,PacijentID,Datum,Nalaz) ///// */
INSERT INTO Pregled VALUES
(2,4, '20190201' ,'VOD: sc = 0,5 cc - 2,00 Dsph - 1,00 Dcyl ax 180 = 1,0'),
(2,4, '20200111' ,'VOD: 0,5 -2,00 -1,00 x 180 = 1,0'),
(3,4, '20190201' ,'BMS o. dex: uredan nalaz prednjeg segmenta oka, spojnica nepodražena, rožnica fl. neg,, prednja sobica bez upalnih stanica, leća bistra.'),
(2,5, '20190201' ,'Fundus o. dex: PNO, vaskularij i makule urednog izgleda.')
/*
INSERT INTO Pregled VALUES (2,5, '20190201' ,'Fundus o. dex: PNO, vaskularij i makule urednog izgleda.')
*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ PROCEDURE ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
	USE Oftamolog_v0_5
	GO
	--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW, UPD, DEL ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
************************************************** */
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW - novi Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUserType @userType nvarchar(50)
	AS
		IF NOT EXISTS (SELECT * FROM Tip_Korisnika WHERE Naziv=@userType)
		BEGIN
			INSERT INTO Tip_Korisnika VALUES (@userType)
		END
	GO

	--DROP PROCEDURE newUserType
	--EXECUTE newUserType 'domar'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ UPD - update Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE updUserType @userTypeID INT, @userType nvarchar(50)
	AS
		IF EXISTS (SELECT * FROM Tip_Korisnika WHERE Id=@userTypeID)
		BEGIN
			UPDATE Tip_Korisnika SET Naziv = @userType WHERE ID=@userTypeID
		END
	GO

	--DROP PROCEDURE updUserType
	--EXECUTE updUserType 2,'Lekar'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delUserType @userTypeID INT
	AS
		IF EXISTS (SELECT * FROM Tip_Korisnika WHERE Id=@userTypeID)
		BEGIN
			DELETE Tip_Korisnika WHERE ID=@userTypeID
		END
	GO

	--DROP PROCEDURE delUserType
	--EXECUTE delUserType 5
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW - novi Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newCity @cityName nvarchar(50), @ptt varchar(10)
	AS
		IF NOT EXISTS (SELECT * FROM Grad WHERE Naziv=@cityName AND PTT=@ptt)
		BEGIN
			INSERT INTO Grad VALUES (@cityName,@ptt)
		END
	GO

	--DROP PROCEDURE newCity
	--EXECUTE newCity 'Zemun','11080'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ UPD - update Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE updCity @cityID INT, @cityName nvarchar(50), @ptt varchar(10)
	AS
		IF EXISTS (SELECT * FROM Grad WHERE Id=@cityID)
		BEGIN
			UPDATE Grad SET Naziv = @cityName WHERE ID=@cityID
			UPDATE Grad SET PTT = @ptt WHERE ID=@cityID
		END
	GO

	--DROP PROCEDURE updCity
	--EXECUTE updCity 2,'Zemun','11080'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delCity @cityID INT
	AS
		IF EXISTS (SELECT * FROM Grad WHERE Id=@cityID)
		BEGIN
			DELETE Grad WHERE ID=@cityID
		END
	GO

	--DROP PROCEDURE delCity
	--EXECUTE delCity 5
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW - novi User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUser @userName nvarchar(30), @userPass nvarchar(30), @firstName nvarchar(30),@lastName nvarchar(30),@adress nvarchar(50), @cityID INT,@tel varchar(50), @email varchar(50), @MB varchar(20),@userTypeID INT = 4
	AS
		
	GO
	
	--▓Može i bez tipaKorisnika (default=4 tj. Pacijent)▓
	--DROP PROCEDURE newUser
	--EXECUTE newUser 'admin2','admin2',N'Vladisav',N'Đurović',N'Prvomajska 33c/đ',103,'011/37-33-33','petrovicbbs@gmail.com','2530321187456',2
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEWUPD - newUpdate User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUpdUser @userName nvarchar(30), @userPass nvarchar(30), @firstName nvarchar(30),@lastName nvarchar(30),@adress nvarchar(50), @cityID INT,@tel varchar(50), @email varchar(50), @MB varchar(20),@userTypeID INT, @UserID INT=0
	AS
		IF (@UserID = 0)
		BEGIN
			IF NOT EXISTS (SELECT * FROM Korisnik WHERE korisnickoIme=@userName)
			BEGIN
				INSERT INTO Korisnik VALUES (@userName, @userPass, @firstName,@lastName,@adress, @cityID,@tel, @email, @MB,@userTypeID)
			END
		END
		ELSE
		BEGIN
			IF EXISTS (SELECT * FROM Korisnik WHERE Id=@UserID)
			BEGIN
				UPDATE Korisnik SET korisnickoIme = @userName,Sifra = @userPass,Ime = @firstName,Prezime = @lastName,Adresa = @adress,GradID = @cityID,Tel = @tel,Email = @email,MB = @MB,Tip_KorisnikaID = @userTypeID WHERE ID = @UserID 
			END
		END
	GO
	--Procedura za NEW i UPDATE Korisnika, razlika je sto:
	--		-za NEW se ne prosleđuje ID a UPDATE-u da(ID je poslednji parametar)
	--DROP PROCEDURE newUpdUser
	--EXECUTE newUpdUser 'Djura','Djoka', N'Vladimir', N'Vladimirovski', N'Požeška 333',103,'011/222-333','bruske.ojska@yahoo.com','1111111111111',3,7
	--EXECUTE newUpdUser 'Djura','Djoka', N'Vladimir', N'Vladimirovski', N'Požeška 333',103,'011/222-333','bruske.ojska@yahoo.com','1111111111111',3
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delUser @UserID INT
	AS
		IF EXISTS (SELECT * FROM Korisnik WHERE Id=@UserID)
		BEGIN
			DELETE Korisnik WHERE ID=@UserID
		END
	GO

	--DROP PROCEDURE delUser
	--EXECUTE delUser 6
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW - novi Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newReport @docID INT, @patientID INT, @date DATE, @medicalReport nvarchar(250)
	AS
		INSERT INTO Pregled VALUES (@docID,@patientID,@date,@medicalReport)
	GO

	--DROP PROCEDURE newReport
	--EXECUTE newReport @docID INT, @patientID INT, @date DATE, @medicalReport nvarchar(250)
	--EXECUTE newReport 2,4,'20190108','Sve i svasta'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ UPD - update Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE updReport @reportID INT, @docID INT, @patientID INT, @date DATE, @medicalReport nvarchar(250)
	AS
		IF EXISTS (SELECT * FROM Pregled WHERE Id=@reportID)
		BEGIN
			UPDATE Pregled SET LekarID = @docID, PacijentID=@patientID, Datum=@date, Nalaz=@medicalReport WHERE ID=@reportID
		END
	GO

	--DROP PROCEDURE updReport
	--EXECUTE updReport 2,3,4,'20190505','Jos 5...4...3'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delReport @reportID INT
	AS
		IF EXISTS (SELECT * FROM Pregled WHERE Id=@reportID)
		BEGIN
			DELETE Pregled WHERE ID=@reportID
		END
	GO

	--DROP PROCEDURE delReport
	--EXECUTE delReport 5
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ APLIKACIONE ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ logovanje ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE logovanje @korisnickoIme varchar(30), @sifra varchar(30)
	AS
	DECLARE @korisnickaSifra varchar(30) = (SELECT Sifra FROM Korisnik WHERE korisnickoIme=@korisnickoIme)
	IF (@sifra = @korisnickaSifra)
	BEGIN
		SELECT Korisnik.ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,Grad.Naziv AS Grad,Tel,Email,MB,Tip_Korisnika.Naziv AS Tip_Korisnika FROM Korisnik 
		INNER JOIN Grad ON GradID=Grad.ID
		INNER JOIN Tip_Korisnika ON Tip_KorisnikaID=Tip_Korisnika.ID
		WHERE korisnickoIme=@korisnickoIme
	END
	GO

	--DROP PROCEDURE logovanje
	--EXECUTE logovanje 'Dule91','dule91bgk'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getUsers ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getUsers
	AS
		SELECT P.ID,(K1.Ime +' '+K1.Prezime) AS Pacijent,(K.Ime +' '+K.Prezime) AS 'Izabran lekar', Datum FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
	GO
	
	--DROP PROCEDURE getUsers
	--EXECUTE getUsers
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getAllUsers ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getAllUsers
	AS
		SELECT Korisnik.ID,korisnickoIme,(Ime +' '+Prezime) AS Korisnik,(Adresa+', '+Grad.PTT+' '+ Grad.Naziv) AS Adresa,Tel,Email,MB,Tip_Korisnika.Naziv AS 'Tip korisnika' FROM Korisnik
		INNER JOIN Grad ON GradID=Grad.ID
		INNER JOIN Tip_Korisnika ON Tip_KorisnikaID=Tip_Korisnika.ID
	GO

	--DROP PROCEDURE getAllUsers
	--EXECUTE getAllUsers
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getDoctorName ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getDoctorID @user varchar(30)
	AS
		SELECT ID FROM Korisnik
		WHERE korisnickoIme=@user
	GO

/*SELECT (Ime + ' ' + Prezime) AS Doktor FROM Korisnik
WHERE korisnickoIme=@user*/

	--DROP PROCEDURE getDoctorID
	--EXECUTE getDoctorID 'admin2'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getDoctors ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getDoctors
	AS
		SELECT ID, korisnickoIme, (Ime + ' ' + Prezime) AS Doktor FROM Korisnik
		WHERE Tip_KorisnikaID = 2
	GO

	--DROP PROCEDURE getDoctors
	--EXECUTE getDoctors
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getPatients ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getPatients @idDoctor INT = 0
	AS
		SELECT ID,(Ime + ' ' + Prezime) AS Patient FROM Korisnik
		WHERE ID != @idDoctor
	GO

	--DROP PROCEDURE getPatient
	--EXECUTE getPatient
	--EXECUTE getPatient 2
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getTypes ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getTypes
	AS
		SELECT * FROM Tip_Korisnika
	GO

	--DROP PROCEDURE getTypes
	--EXECUTE getTypes
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getCities ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getCities
	AS
		SELECT * FROM Grad
	GO

	--DROP PROCEDURE getCities
	--EXECUTE getCities
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getReport ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getReport @id INT
	AS
		SELECT Nalaz FROM Pregled
		WHERE Id=@id
	GO

	--DROP PROCEDURE getReport
	--EXECUTE getReport 1
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getReportDate ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getReportDate @id INT
	AS
		SELECT Datum FROM Pregled
		WHERE Id=@id
	GO

	--DROP PROCEDURE getReportDate
	--EXECUTE getReportDate 1
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getReports ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getReports
	AS
		SELECT P.ID,(Dr.Ime + ' ' + Dr.Prezime) AS Doktor,(Pacijent.Ime + ' ' + Pacijent.Prezime) AS Pacijent,Datum FROM Pregled AS P
		INNER JOIN Korisnik AS Dr ON LekarID = Dr.ID 
		INNER JOIN Korisnik AS Pacijent ON PacijentID = Pacijent.ID
		ORDER BY ID DESC
	GO
	
	--DROP PROCEDURE getReports
	--EXECUTE getReports
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ lastReport ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE lastReport
	AS
		SELECT MAX(ID) AS Zadnji FROM Pregled
	GO
	
	--DROP PROCEDURE lastReport
	--EXECUTE lastReport
--▓▓▓▓▓▓▓▓▓▓ svi pregledi Lekara▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE allExamsBy @lekarId INT
	AS
		SELECT P.ID,K.Ime AS Ime_Lekara,K.Prezime AS Prezime_Lekara, K1.Ime AS Ime_Pacijenta,K1.Prezime AS Prezime_Pacijenta,Datum,Nalaz FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
		WHERE LekarID=@lekarId
	GO

	--DROP PROCEDURE allExamsBy
	--EXECUTE allExamsBy 2
--▓▓▓▓▓▓▓▓▓▓ svi pregledi Pacijenta▓by userName▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE allExamsOf @userName varchar(30)
	AS
		SELECT P.ID, (K1.Ime + ' ' + K1.Prezime) AS Pacijent, (K.Ime + ' ' + K.Prezime) AS Doktor,Datum,Nalaz FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
		WHERE K1.korisnickoIme=@userName
		ORDER BY P.ID DESC
	GO

	--DROP PROCEDURE allExamsOf
	--EXECUTE allExamsOf 'Alex93'
--▓▓▓▓▓▓▓▓▓▓ svi pregledi Pacijenta▓by JMBG▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE allExamsOfJMBG @jmbg varchar(20)
	AS
		SELECT P.ID, (K1.Ime + ' ' + K1.Prezime) AS Pacijent, (K.Ime + ' ' + K.Prezime) AS Doktor,Datum,Nalaz FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
		WHERE K1.MB=@jmbg
		ORDER BY P.ID DESC
	GO

	--DROP PROCEDURE allExamsOfJMBG
	--EXECUTE allExamsOfJMBG '2510987710131'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ lastCity ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE lastCity
	AS
		SELECT MAX(ID) AS Zadnji FROM Grad
	GO
	
	--DROP PROCEDURE lastCity
	--EXECUTE lastCity
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ lastUserType ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE lastUserType
	AS
		SELECT MAX(ID) AS Zadnji FROM Korisnik
	GO
	
	--DROP PROCEDURE lastUserType
	--EXECUTE lastUserType

--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ userListSelection ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE userListSelection
	AS
		SELECT Id,korisnickoIme FROM Korisnik
		WHERE Tip_KorisnikaID != 1
	GO
	
	--DROP PROCEDURE userListSelection
	--EXECUTE userListSelection

--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ userTypeSelection ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE userTypeSelection
	AS
		SELECT Id,Naziv FROM Tip_Korisnika
	GO

	--DROP PROCEDURE userTypeSelection
	--EXECUTE userTypeSelection

--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ nextCityID ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE nextCityID
	AS
		SELECT MAX(ID) FROM Grad
	GO

	--DROP PROCEDURE nextCityID
	--EXECUTE nextCityID

--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ nextTypeID ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE nextTypeID
	AS
		SELECT MAX(ID) FROM Tip_Korisnika
	GO

	--DROP PROCEDURE nextTypeID
	--EXECUTE nextTypeID


	
CREATE PROCEDURE newUser @userName nvarchar(30), @userPass nvarchar(30), 
@firstName nvarchar(30),@lastName nvarchar(30),@adress nvarchar(50), 
@cityID INT,@tel varchar(50), @email varchar(50), @MB varchar(20),
@userTypeID INT = 4
GO