--v1_0
/*
CREATE DATABASE Oftamolog

USE master	DROP DATABASE Oftamolog
*/

/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
-- ***********************************************
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓LEGENDA▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
--/ - Blok naredbi od tekuće tabele
--▓ - Kreiranje i postavljanje FK
--  - Svako naredno postavljanje FK
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
USE Oftamolog
/*
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓CREATE▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ////////////////KatArt//////////////////////////// */
CREATE TABLE Tip_Korisnika(
ID INT IDENTITY(1,1),
Naziv nvarchar(30) NOT NULL,
CONSTRAINT PK_Tip_KorisnikaID PRIMARY KEY (ID))		--/ PK: Tip_KorisnikaID		--/ CREATE: Tip_Korisnika
/* ////////////////Grad//////////////////////////// */
CREATE TABLE Grad(
ID INT IDENTITY(1,1),
Naziv nvarchar(50),
PTT varchar(10),
CONSTRAINT PK_GradID PRIMARY KEY (ID))			--/ PK: GradID			--/ CREATE: Grad
/* //////////////////Korisnik////////////////////////// */
CREATE TABLE Korisnik(
ID INT IDENTITY(1,1),
korisnickoIme varchar(30) UNIQUE NOT NULL,
Sifra varchar(30) NOT NULL,
Ime nvarchar(30) NOT NULL,
Prezime nvarchar(30) NOT NULL,
Adresa nvarchar(50) NOT NULL,
GradID INT NOT NULL,
Tel varchar(50) NOT NULL,
Email varchar(50) NOT NULL,
MB varchar(20) UNIQUE NOT NULL,
Tip_KorisnikaID INT NOT NULL,
CONSTRAINT PK_MedicinariID PRIMARY KEY (ID),			
FOREIGN KEY (GradID) REFERENCES Grad(ID),			
FOREIGN KEY (Tip_KorisnikaID) REFERENCES Tip_Korisnika(ID))	--/ PK: KorisnikID		-- FK: GradID	-- FK: Tip_KorisnikaID		--/ CREATE: Korisnik
/* ////////////////Pregled//////////////////////////// */
CREATE TABLE Pregled(
ID INT IDENTITY(1,1),
LekarID INT NOT NULL,
PacijentID INT NOT NULL,
Datum date NOT NULL,
Nalaz nvarchar(250) NOT NULL,
CONSTRAINT PK_PregledID PRIMARY KEY (ID),
FOREIGN KEY (LekarID) REFERENCES Korisnik(ID),			
FOREIGN KEY (PacijentID) REFERENCES Korisnik(ID))	--/ PK: PregledID	-- FK: LekarID	-- FK: PacijentID		--/ CREATE: Pregled
/*
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓INSERT▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
************************************************** */
/*▓//////////////// Tip_Korisnika(ID,Naziv) //////////////////////// */
INSERT INTO Tip_Korisnika VALUES ('Administrator'),('Doktor'),('Pacijent');			-- Tip_Korisnika
/*▓//////////////// Grad(ID,Naziv,PTT) ////////////////////// */
/*▓//////////////// Medicinar(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID) ////////////////////// */
/*▓///////// Pregled(ID,LekarID,PacijentID,Datum,Nalaz) ///// */
INSERT INTO Pregled VALUES
(2,4, '20190201' ,'VOD: sc = 0,5 cc - 2,00 Dsph - 1,00 Dcyl ax 180 = 1,0'),
(2,4, '20200111' ,'VOD: 0,5 -2,00 -1,00 x 180 = 1,0'),
(3,4, '20190201' ,'BMS o. dex: uredan nalaz prednjeg segmenta oka, spojnica nepodražena, rožnica fl. neg,, prednja sobica bez upalnih stanica, leća bistra.'),
(2,5, '20190201' ,'Fundus o. dex: PNO, vaskularij i makule urednog izgleda.'),
(3,6, '20190201' ,'BMS o. dex: uredan nalaz prednjeg segmenta oka, spojnica nepodražena, rožnica fl. neg,, prednja sobica bez upalnih stanica, leća bistra.')
/*
INSERT INTO Pregled VALUES (2,5, '20190201' ,'Fundus o. dex: PNO, vaskularij i makule urednog izgleda.')
*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ PROCEDURE ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
	USE Oftamolog
	GO
	--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW, UPD, DEL ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
/* ************** RELACIONI MODEL ****************
Tip_Korisnika(ID,Naziv)
Grad(ID,Naziv,PTT)
Korisnik(ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,GradID,Tel,Email,MB,Tip_KorisnikaID)
Pregled(ID,LekarID,PacijentID,Datum,Nalaz)
************************************************** */
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW/UPD - novi/izmena newUpdUserType ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUpdUserType @userType nvarchar(50), @id int = 0
	AS
		IF @id=0
		BEGIN
			IF NOT EXISTS (SELECT * FROM Tip_Korisnika WHERE Naziv=@userType)
			BEGIN
				INSERT INTO Tip_Korisnika VALUES (@userType)
			END
		END
		ELSE
		BEGIN
			IF EXISTS (SELECT * FROM Tip_Korisnika WHERE Id=@id)
			BEGIN
				UPDATE Tip_Korisnika SET Naziv = @userType WHERE ID=@id
			END
		END
	GO

	--DROP PROCEDURE newUpdUserType
	--EXECUTE newUpdUserType 'domar'
	--EXECUTE newUpdUserType 'domar', 2
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete Tip_Korisnika ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delUserType @userTypeID INT
	AS
		IF EXISTS (SELECT * FROM Tip_Korisnika WHERE Id=@userTypeID)
		BEGIN
			DELETE Tip_Korisnika WHERE ID=@userTypeID
		END
	GO

	--DROP PROCEDURE delUserType
	--EXECUTE delUserType 5
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW/UPD - novi/izmena Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUpdCity @cityName nvarchar(50), @ptt varchar(10), @id int = 0
	AS
		IF @id=0
		BEGIN
			IF NOT EXISTS (SELECT * FROM Grad WHERE Naziv=@cityName AND PTT=@ptt)
			BEGIN
				INSERT INTO Grad VALUES (@cityName,@ptt)
			END
		END
		ELSE
		BEGIN
			IF EXISTS (SELECT * FROM Grad WHERE Id=@id)
			BEGIN
				UPDATE Grad SET Naziv = @cityName WHERE ID=@id
				UPDATE Grad SET PTT = @ptt WHERE ID=@id
			END
		END
	GO

	--DROP PROCEDURE newCity
	--EXECUTE newCity 'Zemun','11080'
	--EXECUTE updCity 'Zemun','11080',2
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete Grad ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delCity @cityID INT
	AS
		IF EXISTS (SELECT * FROM Grad WHERE Id=@cityID)
		BEGIN
			DELETE Grad WHERE ID=@cityID
		END
	GO

	--DROP PROCEDURE delCity
	--EXECUTE delCity 5
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW/UPD - novi/izmena User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newUpdUser @userName nvarchar(30), @userPass nvarchar(30), @firstName nvarchar(30),@lastName nvarchar(30),@adress nvarchar(50), @cityID INT,@tel varchar(50), @email varchar(50), @MB varchar(20),@userTypeID INT, @UserID INT=0
	AS
		IF (@UserID = 0)
		BEGIN
			IF NOT EXISTS (SELECT * FROM Korisnik WHERE korisnickoIme=@userName)
			BEGIN
				INSERT INTO Korisnik VALUES (@userName, @userPass, @firstName,@lastName,@adress, @cityID,@tel, @email, @MB,@userTypeID)
			END
		END
		ELSE
		BEGIN
			IF EXISTS (SELECT * FROM Korisnik WHERE Id=@UserID)
			BEGIN
				UPDATE Korisnik SET korisnickoIme = @userName,Sifra = @userPass,Ime = @firstName,Prezime = @lastName,Adresa = @adress,GradID = @cityID,Tel = @tel,Email = @email,MB = @MB,Tip_KorisnikaID = @userTypeID WHERE ID = @UserID 
			END
		END
	GO

	--DROP PROCEDURE newUpdUser
	--EXECUTE newUpdUser 'Djura','Djoka', N'Vladimir', N'Vladimirovski', N'Požeška 333',103,'011/222-333','bruske.ojska@yahoo.com','1111111111111',3
	--EXECUTE newUpdUser 'Djura','Djoka', N'Vladimir', N'Vladimirovski', N'Požeška 333',103,'011/222-333','bruske.ojska@yahoo.com','1111111111111',3,7
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ DEL - delete User ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE delUser @UserID INT
	AS
		IF EXISTS (SELECT * FROM Korisnik WHERE Id=@UserID)
		BEGIN
			DELETE Korisnik WHERE ID=@UserID
		END
	GO

	--DROP PROCEDURE delUser
	--EXECUTE delUser 6
--*************************************************************************************************************
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ NEW - novi Report ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
CREATE PROCEDURE newReport @docID INT, @patientID INT, @date DATE, @medicalReport nvarchar(250)
	AS
		INSERT INTO Pregled VALUES (@docID,@patientID,@date,@medicalReport)
	GO

	--DROP PROCEDURE newReport
	--EXECUTE newReport @docID INT, @patientID INT, @date DATE, @medicalReport nvarchar(250)
	--EXECUTE newReport 2,4,'20190108','Sve i svasta'
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ APLIKACIONE ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ logovanje ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE logovanje @korisnickoIme varchar(30), @sifra varchar(30)
	AS
	DECLARE @korisnickaSifra varchar(30) = (SELECT Sifra FROM Korisnik WHERE korisnickoIme=@korisnickoIme)
	IF (@sifra = @korisnickaSifra)
	BEGIN
		SELECT Korisnik.ID,korisnickoIme,Sifra,Ime,Prezime,Adresa,Grad.Naziv AS Grad,Tel,Email,MB,Tip_Korisnika.Naziv AS Tip_Korisnika FROM Korisnik 
		INNER JOIN Grad ON GradID=Grad.ID
		INNER JOIN Tip_Korisnika ON Tip_KorisnikaID=Tip_Korisnika.ID
		WHERE korisnickoIme=@korisnickoIme
	END
	GO

	--DROP PROCEDURE logovanje
	--EXECUTE logovanje 'Dule91','dule91bgk'
--################################################################################################
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ComboBoxes▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--################################################################################################
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getPatience ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getPatience @id int
	AS
		SELECT ID,(Ime +' '+Prezime) AS Pacijent FROM Korisnik
		WHERE Tip_KorisnikaID=3 AND ID != @id
	GO
	
	--DROP PROCEDURE getPatience
	--EXECUTE getPatience 1
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getDoctors ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getDoctors
	AS
		SELECT ID, korisnickoIme, (Ime + ' ' + Prezime) AS Doktor FROM Korisnik
		WHERE Tip_KorisnikaID = 2
	GO

	--DROP PROCEDURE getDoctors
	--EXECUTE getDoctors
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getTypes ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getTypes
	AS
		SELECT * FROM Tip_Korisnika
		WHERE ID != 1
	GO

	--DROP PROCEDURE getTypes
	--EXECUTE getTypes
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getCities ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getCities
	AS
		SELECT * FROM Grad
	GO

	--DROP PROCEDURE getCities
	--EXECUTE getCities
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ getReport/s ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE getReports @id INT = 0
	AS
	IF @id = 0
	BEGIN
		SELECT P.ID,(Dr.Ime + ' ' + Dr.Prezime) AS Doktor,(Pacijent.Ime + ' ' + Pacijent.Prezime) AS Pacijent,Datum FROM Pregled AS P
		INNER JOIN Korisnik AS Dr ON LekarID = Dr.ID 
		INNER JOIN Korisnik AS Pacijent ON PacijentID = Pacijent.ID
		ORDER BY ID DESC
	END
	ELSE
		SELECT P.ID,(Dr.Ime + ' ' + Dr.Prezime) AS Doktor,(Pacijent.Ime + ' ' + Pacijent.Prezime) AS Pacijent,Datum FROM Pregled AS P
		INNER JOIN Korisnik AS Dr ON LekarID = Dr.ID 
		INNER JOIN Korisnik AS Pacijent ON PacijentID = Pacijent.ID
		WHERE P.Id=@id
		ORDER BY ID DESC
	GO

	--DROP PROCEDURE getReports
	--EXECUTE getReports
	--EXECUTE getReports 1
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ lastReport ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
	CREATE PROCEDURE lastReport
	AS
		SELECT MAX(ID) AS Zadnji FROM Pregled
	GO
	
	--DROP PROCEDURE lastReport
	--EXECUTE lastReport
--################################################################################################
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓DataGridView▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓--
--################################################################################################
--▓▓▓▓▓▓▓▓▓▓ svi pregledi Pacijenta▓by JMBG▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓-- // Pretraga po JMBG-u
	CREATE PROCEDURE allExamsOfJMBG @jmbg varchar(20)
	AS
		SELECT P.ID, (K1.Ime + ' ' + K1.Prezime) AS Pacijent, (K.Ime + ' ' + K.Prezime) AS Doktor,Datum,Nalaz FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
		WHERE K1.MB=@jmbg
		ORDER BY P.ID DESC
	GO

	--DROP PROCEDURE allExamsOfJMBG
	--EXECUTE allExamsOfJMBG '2510987710131'
--▓▓▓▓▓▓▓▓▓▓ svi pregledi Pacijenta▓by userId▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓-- // Pretraga po id-ju
CREATE PROCEDURE allExamsOfUser @id INT
	AS
		SELECT P.ID, (K1.Ime + ' ' + K1.Prezime) AS Pacijent, (K.Ime + ' ' + K.Prezime) AS Doktor,Datum,Nalaz FROM Pregled AS P
		INNER JOIN Korisnik AS K ON K.ID = P.LekarID
		INNER JOIN Korisnik AS K1 ON K1.ID = P.PacijentID
		WHERE K1.ID=@id
		ORDER BY P.ID DESC
	GO

	--DROP PROCEDURE allExamsOfUser
	--EXECUTE allExamsOfUser 3